html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

[data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-section] {
  position: relative;
  min-height: 100vh;
  will-change: transform;
}
